@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

header {
    /* width: 100vw; */
    /* height: 100vh; */
    background: rgba(255, 144, 14, 0.10);
}

nav {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo h1 {
    font-size: 3rem;
}

.nav-links ul {
    display: flex;

}

.nav-links ul li {
    margin-right: 50px;
    list-style: none;
}

.nav-links ul li a {
    color: #424242;
    font-size: 1.2rem;
    text-decoration: none;
}

.banner-content {
    width: 700px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-title,
.features-title {
    font-size: 3rem;
}

.banner-discription {
    padding: 10px;
    font-size: .8rem;
    font-weight: 400px;
    color: #727272;
}

.banner-img img {
    width: 100%;
}

.banner-container {
    padding: 50px 200px 40px 200px;
}

.banner-content button,
.features button {
    margin-top: 30px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: white;
    font-size: 1.25rem;
    padding: 20px 25px;
}

.features {
    /* width: auto; */
    display: flex;
    align-items: center;
    margin: 80px 150px 100px 150px;
    gap: 70px;

}


.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.features-img img {
    width: 300px;
    height: 300px;
}

.features-description {
    font-size: .9rem;
}

.features-title {
    font-size: 2.5rem;
}

.span-1 {
    color: #727272;
}

.span-2 {
    color: black;
}

.span-3 {
    color: #FF900E;
}

.feature-img img {
    /* width: 608px;
    height: 800px; */
    width: 100%;
}


.more-features {
    /* padding: 100px; */
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: 40px 150px 40px 150px;
    gap: 70px;
}

.feature {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;

}

.all-features h2 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.all-features {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 130px;
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

}

.feature-title h1 {

    padding-right: 20px;
    font-size: 3rem;
}

.feature-title {
    padding-left: 20px;
    border-left: 5px solid #FF900E;
}



.year_10 {
    position: relative;
    top: -100px;
    left: -60px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 242px;
    height: 150px;
    /* background-color: ; */
    border-radius: 8px;
    background: #FF900E;
}

.year_10 h2 {
    font-size: 3rem;
}

.all-facts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.fact-description {
    width: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.facts {
    margin: 0px auto;
    width: 75%;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 1px solid #FF900E;

}

.sponsor-description {

    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;


}

.texts {
    margin: 0 auto;
    width: 50%;
}


.sponsors {
    margin: 0 auto;
    width: 1000px;
}

.sponsor {
    display: flex;
    justify-content: space-between;
}

.sponsor img {
    width: 100px;
}

footer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #FFF4E7;
    /* width: 1440px; */
    margin-top: 90px;
    margin-bottom: 90px;
    width: 1000px;
    height: 200px;

}

/* responsive */
@media screen and (max-width:568px) {
    nav {

        flex-direction: column;
    }

    .nav-links ul,
    .features,
    .more-features,
    .sponsor {
        flex-direction: column;
    }

    .sponsor {
        gap: 10px;
        margin: 0px auto;
        width: auto;
        align-items: center;
    }

    .sponsors {
        width: auto;
    }

    footer {
        width: auto;
        text-align: center;
        font-size: .8rem;
    }

    .features {
        margin: 0px;
    }

    .features-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .features-info {
        padding: 10px;
    }

    .banner-container {
        /* flex-direction: column; */
        padding: 0px;
    }

    .nav-logo h1 {
        font-size: 2rem;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-content {
        width: auto;
    }

    .more-features {
        padding: 10px;
        margin: 0px;
    }

    .all-features {
        display: block;
        /* width: 50%; */
    }

    .feature {
        width: auto;
    }

    .year_10 {
        width: auto;
        /* padding: 20px; */
        position: static;
    }

    .all-facts {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .fact-description {
        width: auto;
    }

}